fastapi
uvicorn[standard]
python-dotenv
pydantic
google-cloud-bigquery
google-cloud-aiplatform
langchain
langgraph
langchain-google-vertexai
pandas
sqlglot
httpx
python-multipart
pydantic_settings
langchain_google_community
langchain_classic
langchain_community
pypdf
python-dotenv
gunicorn
transformers>=4.30.0
